.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background: #FF5500;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    animation: counterAppear .5s ease-in-out;
}

@keyframes counterAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}