.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #333333;
    padding: 24px 32px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.wrapper {
    display: flex;
    align-items: center;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background: #FF5500;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}